In [32]:

from pymongo import MongoClient

# Replace the following with your MongoDB connection string
client = MongoClient("mongodb+srv://helenangel2104:kW5oEnwW7oNgnlCA@cluster0.2kjzeqx.mongodb.net/")

# Access the database
db = client['sample_airbnb']

# Access the collection
collection = db['listingsAndReviews']

In [33]:
# Load all documents from the collection
documents = collection.find()

# Convert the documents to a list (optional)
data_list = list(documents)

In [34]:
import pandas as pd

# Convert the list of documents to a DataFrame
df = pd.DataFrame(data_list)
pd.set_option('display.max_columns',None)

In [35]:
df.head(3)

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,interaction,house_rules,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,last_scraped,calendar_last_scraped,first_review,last_review,accommodates,bedrooms,beds,number_of_reviews,bathrooms,amenities,price,security_deposit,cleaning_fee,extra_people,guests_included,images,host,address,availability,review_scores,reviews,weekly_price,monthly_price,reviews_per_month
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: • Metro station and S. Bento railwa...,We are always available to help guests. The ho...,"Cot - 10 € / night Dog - € 7,5 / night",Make the house your home...,House,Entire home/apt,Real Bed,2,30,moderate,2019-02-16 05:00:00,2019-02-16 05:00:00,2016-01-03 05:00:00,2019-01-20 05:00:00,8,3.0,5.0,51,1.0,"[TV, Cable TV, Wifi, Kitchen, Paid parking off...",80.00,200.00,35.00,15.00,6,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51399391', 'host_url': 'https://w...","{'street': 'Porto, Porto, Portugal', 'suburb':...","{'availability_30': 28, 'availability_60': 47,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58663741', 'date': 2016-01-03 05:00:...",NaN,NaN,NaN
1,10047964,https://www.airbnb.com/rooms/10047964,Charming Flat in Downtown Moda,Fully furnished 3+1 flat decorated with vintag...,The apartment is composed of 1 big bedroom wit...,Fully furnished 3+1 flat decorated with vintag...,With its diversity Moda- Kadikoy is one of the...,,,,,"Be and feel like your own home, with total res...",House,Entire home/apt,Real Bed,2,1125,flexible,2019-02-18 05:00:00,2019-02-18 05:00:00,2016-04-02 04:00:00,2016-04-02 04:00:00,6,2.0,6.0,1,1.0,"[TV, Cable TV, Internet, Wifi, Kitchen, Free p...",527.00,NaN,211.00,211.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '1241644', 'host_url': 'https://ww...","{'street': 'Kadıköy, İstanbul, Turkey', 'subur...","{'availability_30': 27, 'availability_60': 57,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '68162172', 'date': 2016-04-02 04:00:...",NaN,NaN,NaN
2,10069642,https://www.airbnb.com/rooms/10069642,Ótimo Apto proximo Parque Olimpico,Apartamento próximo ao centro dos Jogos Olímpi...,,Apartamento próximo ao centro dos Jogos Olímpi...,,,,,,,Apartment,Entire home/apt,Real Bed,15,20,strict_14_with_grace_period,2019-02-11 05:00:00,2019-02-11 05:00:00,NaT,NaT,5,2.0,2.0,0,2.0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",858.00,4476.00,112.00,75.00,1,"{'thumbnail_url': '', 'medium_url': '', 'pictu...","{'host_id': '51670240', 'host_url': 'https://w...","{'street': 'Rio de Janeiro, Rio de Janeiro, Br...","{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN

viewing data of address, availability, host, review_scores, reviews

In [36]:
host_df = pd.json_normalize(df['host'])
host_df.head(3)

,host_id,host_url,host_name,host_location,host_about,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,51399391,https://www.airbnb.com/users/show/51399391,Ana&Gonçalo,"Porto, Porto District, Portugal","Gostamos de passear, de viajar, de conhecer pe...",within an hour,https://a0.muscache.com/im/pictures/fab79f25-2...,https://a0.muscache.com/im/pictures/fab79f25-2...,,100.0,False,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,1241644,https://www.airbnb.com/users/show/1241644,Zeynep,"Istanbul, Istanbul, Turkey",Z.,NaN,https://a0.muscache.com/im/users/1241644/profi...,https://a0.muscache.com/im/users/1241644/profi...,Moda,NaN,False,True,True,2,2,"[email, phone, facebook, reviews, jumio, gover..."
2,51670240,https://www.airbnb.com/users/show/51670240,Jonathan,"Resende, Rio de Janeiro, Brazil",,NaN,https://a0.muscache.com/im/pictures/9a6839d9-9...,https://a0.muscache.com/im/pictures/9a6839d9-9...,,NaN,False,True,False,1,1,"[email, phone, jumio, government_id]"

In [37]:
address_df = pd.json_normalize(df['address'])
address_df.head(3)

,street,suburb,government_area,market,country,country_code,location.type,location.coordinates,location.is_location_exact
0,"Porto, Porto, Portugal",,"Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...",Porto,Portugal,PT,Point,"[-8.61308, 41.1413]",False
1,"Kadıköy, İstanbul, Turkey",Moda,Kadikoy,Istanbul,Turkey,TR,Point,"[29.03133, 40.98585]",True
2,"Rio de Janeiro, Rio de Janeiro, Brazil",Recreio dos Bandeirantes,Recreio dos Bandeirantes,Rio De Janeiro,Brazil,BR,Point,"[-43.4311123147628, -23.00035792660916]",False

In [38]:
avail_df = pd.json_normalize(df['availability'])
avail_df.head(3)

   availability_30  availability_60  availability_90  availability_365
0               28               47               74               239
1               27               57               87               362
2                0                0                0                 0

In [39]:
review_scores_df = pd.json_normalize(df['review_scores'])
review_scores_df.head(3)

,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,review_scores_rating
0,9.0,9.0,10.0,10.0,10.0,9.0,89.0
1,10.0,10.0,10.0,10.0,10.0,10.0,100.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df.columns

Index(['_id', 'listing_url', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'cancellation_policy',
       'last_scraped', 'calendar_last_scraped', 'first_review', 'last_review',
       'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'amenities', 'price', 'security_deposit', 'cleaning_fee',
       'extra_people', 'guests_included', 'images', 'host', 'address',
       'availability', 'review_scores', 'reviews', 'weekly_price',
       'monthly_price', 'reviews_per_month'],
      dtype='object')

In [41]:
host_df.columns

Index(['host_id', 'host_url', 'host_name', 'host_location', 'host_about',
       'host_response_time', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_response_rate', 'host_is_superhost',
       'host_has_profile_pic', 'host_identity_verified', 'host_listings_count',
       'host_total_listings_count', 'host_verifications'],
      dtype='object')

In [42]:
review_scores_df.columns

Index(['review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'review_scores_rating'],
      dtype='object')

In [43]:
address_df.columns

Index(['street', 'suburb', 'government_area', 'market', 'country',
       'country_code', 'location.type', 'location.coordinates',
       'location.is_location_exact'],
      dtype='object')

In [44]:
data= pd.concat([df[['_id', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes','access',
       'house_rules', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'cancellation_policy',
       'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'amenities', 'price', 'security_deposit', 'cleaning_fee',
       'extra_people', 'guests_included']],
          host_df[['host_id','host_name','host_response_rate','host_is_superhost','host_identity_verified','host_total_listings_count']],
          review_scores_df[['review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'review_scores_rating']],
       address_df[['street', 'suburb', 'government_area', 'market', 'country',
       'country_code', 'location.type', 'location.coordinates']],
       avail_df],axis=1
       )

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   _id                          5555 non-null   object
 1   name                         5555 non-null   object
 2   summary                      5555 non-null   object
 3   space                        5555 non-null   object
 4   description                  5555 non-null   object
 5   neighborhood_overview        5555 non-null   object
 6   notes                        5555 non-null   object
 7   access                       5555 non-null   object
 8   house_rules                  5555 non-null   object
 9   property_type                5555 non-null   object
 10  room_type                    5555 non-null   object
 11  bed_type                     5555 non-null   object
 12  minimum_nights               5555 non-null   object
 13  maximum_nights               5555 non-null   object
 14  cancellation_policy          5555 non-null   object
 15  accommodates                 5555 non-null   int64
 16  bedrooms                     5550 non-null   float64
 17  beds                         5542 non-null   float64
 18  number_of_reviews            5555 non-null   int64
 19  bathrooms                    5545 non-null   object
 20  amenities                    5555 non-null   object
 21  price                        5555 non-null   object
 22  security_deposit             3471 non-null   object
 23  cleaning_fee                 4024 non-null   object
 24  extra_people                 5555 non-null   object
 25  guests_included              5555 non-null   object
 26  host_id                      5555 non-null   object
 27  host_name                    5555 non-null   object
 28  host_response_rate           4167 non-null   float64
 29  host_is_superhost            5555 non-null   bool
 30  host_identity_verified       5555 non-null   bool
 31  host_total_listings_count    5555 non-null   int64
 32  review_scores_cleanliness    4082 non-null   float64
 33  review_scores_checkin        4080 non-null   float64
 34  review_scores_communication  4081 non-null   float64
 35  review_scores_location       4081 non-null   float64
 36  review_scores_value          4080 non-null   float64
 37  review_scores_rating         4081 non-null   float64
 38  street                       5555 non-null   object
 39  suburb                       5555 non-null   object
 40  government_area              5555 non-null   object
 41  market                       5555 non-null   object
 42  country                      5555 non-null   object
 43  country_code                 5555 non-null   object
 44  location.type                5555 non-null   object
 45  location.coordinates         5555 non-null   object
 46  availability_30              5555 non-null   int64
 47  availability_60              5555 non-null   int64
 48  availability_90              5555 non-null   int64
 49  availability_365             5555 non-null   int64
dtypes: bool(2), float64(9), int64(7), object(32)
memory usage: 2.0+ MB

In [46]:
data.isnull().sum()

_id                               0
name                              0
summary                           0
space                             0
description                       0
neighborhood_overview             0
notes                             0
access                            0
house_rules                       0
property_type                     0
room_type                         0
bed_type                          0
minimum_nights                    0
maximum_nights                    0
cancellation_policy               0
accommodates                      0
bedrooms                          5
beds                             13
number_of_reviews                 0
bathrooms                        10
amenities                         0
price                             0
security_deposit               2084
cleaning_fee                   1531
extra_people                      0
guests_included                   0
host_id                           0
host_name                         0
host_response_rate             1388
host_is_superhost                 0
host_identity_verified            0
host_total_listings_count         0
review_scores_cleanliness      1473
review_scores_checkin          1475
review_scores_communication    1474
review_scores_location         1474
review_scores_value            1475
review_scores_rating           1474
street                            0
suburb                            0
government_area                   0
market                            0
country                           0
country_code                      0
location.type                     0
location.coordinates              0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
dtype: int64

In [47]:
data['review_scores_checkin'].mode().values[0]

10.0

In [48]:
data['bedrooms'].fillna(0, inplace=True)
data['beds'].fillna(0, inplace=True)
data['bathrooms'].fillna(0, inplace=True)
data['security_deposit'].fillna(0,inplace=True)
data['cleaning_fee'].fillna(0, inplace=True)
data['review_scores_checkin'].fillna(data['review_scores_checkin'].mode().values[0],inplace=True)
data['review_scores_cleanliness'].fillna(data['review_scores_cleanliness'].mode().values[0],inplace=True)
data['review_scores_communication'].fillna(data['review_scores_communication'].mode().values[0],inplace=True)
data['review_scores_location'].fillna(data['review_scores_location'].mode().values[0],inplace=True)
data['review_scores_rating'].fillna(data['review_scores_rating'].mode().values[0],inplace=True)
data['review_scores_value'].fillna(data['review_scores_value'].mode().values[0],inplace=True)
data['host_response_rate'].fillna(data['host_response_rate'].mean(),inplace=True)

In [49]:
data.isnull().sum()

_id                            0
name                           0
summary                        0
space                          0
description                    0
neighborhood_overview          0
notes                          0
access                         0
house_rules                    0
property_type                  0
room_type                      0
bed_type                       0
minimum_nights                 0
maximum_nights                 0
cancellation_policy            0
accommodates                   0
bedrooms                       0
beds                           0
number_of_reviews              0
bathrooms                      0
amenities                      0
price                          0
security_deposit               0
cleaning_fee                   0
extra_people                   0
guests_included                0
host_id                        0
host_name                      0
host_response_rate             0
host_is_superhost              0
host_identity_verified         0
host_total_listings_count      0
review_scores_cleanliness      0
review_scores_checkin          0
review_scores_communication    0
review_scores_location         0
review_scores_value            0
review_scores_rating           0
street                         0
suburb                         0
government_area                0
market                         0
country                        0
country_code                   0
location.type                  0
location.coordinates           0
availability_30                0
availability_60                0
availability_90                0
availability_365               0
dtype: int64

In [50]:
data['minimum_nights'] = data['minimum_nights'].astype('int64')
data['maximum_nights'] = data['maximum_nights'].astype('int64')
data['bedrooms'] = data['bedrooms'].astype('int64')
data['beds'] = data['beds'].astype('int64')
data['bathrooms'] = data['bathrooms'].astype(str).astype(float).astype('int64')
data['price'] = data['price'].astype(str).astype(float)
data['cleaning_fee'] = data['cleaning_fee'].astype(str).astype(float)
data['security_deposit'] = data['security_deposit'].astype(str).astype(float)
data['extra_people'] = data['extra_people'].astype(str).astype(float).astype('int64')
data['guests_included'] = data['guests_included'].astype(str).astype('int64')
data['review_scores_checkin'] = data['review_scores_checkin'].astype('int64')
data['review_scores_cleanliness'] = data['review_scores_cleanliness'].astype('int64')
data['review_scores_communication'] = data['review_scores_communication'].astype('int64')
data['review_scores_location'] = data['review_scores_location'].astype('int64')
data['review_scores_rating'] = data['review_scores_rating'].astype('int64')
data['review_scores_value'] = data['review_scores_value'].astype('int64')
data['host_response_rate'] = data['host_response_rate'].astype('int64')

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   _id                          5555 non-null   object
 1   name                         5555 non-null   object
 2   summary                      5555 non-null   object
 3   space                        5555 non-null   object
 4   description                  5555 non-null   object
 5   neighborhood_overview        5555 non-null   object
 6   notes                        5555 non-null   object
 7   access                       5555 non-null   object
 8   house_rules                  5555 non-null   object
 9   property_type                5555 non-null   object
 10  room_type                    5555 non-null   object
 11  bed_type                     5555 non-null   object
 12  minimum_nights               5555 non-null   int64
 13  maximum_nights               5555 non-null   int64
 14  cancellation_policy          5555 non-null   object
 15  accommodates                 5555 non-null   int64
 16  bedrooms                     5555 non-null   int64
 17  beds                         5555 non-null   int64
 18  number_of_reviews            5555 non-null   int64
 19  bathrooms                    5555 non-null   int64
 20  amenities                    5555 non-null   object
 21  price                        5555 non-null   float64
 22  security_deposit             5555 non-null   float64
 23  cleaning_fee                 5555 non-null   float64
 24  extra_people                 5555 non-null   int64
 25  guests_included              5555 non-null   int64
 26  host_id                      5555 non-null   object
 27  host_name                    5555 non-null   object
 28  host_response_rate           5555 non-null   int64
 29  host_is_superhost            5555 non-null   bool
 30  host_identity_verified       5555 non-null   bool
 31  host_total_listings_count    5555 non-null   int64
 32  review_scores_cleanliness    5555 non-null   int64
 33  review_scores_checkin        5555 non-null   int64
 34  review_scores_communication  5555 non-null   int64
 35  review_scores_location       5555 non-null   int64
 36  review_scores_value          5555 non-null   int64
 37  review_scores_rating         5555 non-null   int64
 38  street                       5555 non-null   object
 39  suburb                       5555 non-null   object
 40  government_area              5555 non-null   object
 41  market                       5555 non-null   object
 42  country                      5555 non-null   object
 43  country_code                 5555 non-null   object
 44  location.type                5555 non-null   object
 45  location.coordinates         5555 non-null   object
 46  availability_30              5555 non-null   int64
 47  availability_60              5555 non-null   int64
 48  availability_90              5555 non-null   int64
 49  availability_365             5555 non-null   int64
dtypes: bool(2), float64(3), int64(21), object(24)
memory usage: 2.0+ MB

In [51]:
data.describe()

,minimum_nights,maximum_nights,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,security_deposit,cleaning_fee,extra_people,guests_included,host_response_rate,host_total_listings_count,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,review_scores_rating,availability_30,availability_60,availability_90,availability_365
count,5555.000000,5.555000e+03,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000,5555.000000
mean,5.564356,1.382776e+06,3.505851,1.410441,2.066607,27.606481,1.256346,278.766157,318.313771,68.147075,22.791899,1.747435,93.088749,14.405761,9.496850,9.779118,9.771017,9.706931,9.489649,94.930333,11.816202,26.451305,42.758056,173.105671
std,22.613861,5.256920e+07,2.297019,1.042334,1.620858,49.798376,0.685642,842.215531,1284.484759,102.782629,69.331511,1.487352,16.058462,65.848868,0.980793,0.685513,0.704522,0.673978,0.861926,8.312561,11.686113,23.476011,35.226897,139.841893
min,1.000000,1.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,2.000000,2.000000,20.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,5.900000e+01,2.000000,1.000000,1.000000,1.000000,1.000000,70.000000,0.000000,0.000000,0.000000,1.000000,93.000000,1.000000,9.000000,10.000000,10.000000,10.000000,9.000000,93.000000,0.000000,0.000000,0.000000,17.000000
50%,2.000000,1.125000e+03,3.000000,1.000000,2.000000,5.000000,1.000000,129.000000,0.000000,30.000000,0.000000,1.000000,100.000000,2.000000,10.000000,10.000000,10.000000,10.000000,10.000000,98.000000,8.000000,23.000000,43.000000,171.000000
75%,3.000000,1.125000e+03,4.000000,2.000000,3.000000,32.000000,1.000000,280.000000,250.000000,100.000000,20.000000,2.000000,100.000000,6.000000,10.000000,10.000000,10.000000,10.000000,10.000000,100.000000,24.000000,52.000000,80.000000,317.000000
max,1250.000000,2.147484e+09,16.000000,20.000000,25.000000,533.000000,16.000000,48842.000000,39228.000000,2000.000000,2346.000000,16.000000,100.000000,1198.000000,10.000000,10.000000,10.000000,10.000000,10.000000,100.000000,30.000000,60.000000,90.000000,365.000000

In [52]:
data.shape

(5555, 50)

In [53]:
data.columns

Index(['_id', 'name', 'summary', 'space', 'description',
       'neighborhood_overview', 'notes', 'access', 'house_rules',
       'property_type', 'room_type', 'bed_type', 'minimum_nights',
       'maximum_nights', 'cancellation_policy', 'accommodates', 'bedrooms',
       'beds', 'number_of_reviews', 'bathrooms', 'amenities', 'price',
       'security_deposit', 'cleaning_fee', 'extra_people', 'guests_included',
       'host_id', 'host_name', 'host_response_rate', 'host_is_superhost',
       'host_identity_verified', 'host_total_listings_count',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'review_scores_rating', 'street', 'suburb',
       'government_area', 'market', 'country', 'country_code', 'location.type',
       'location.coordinates', 'availability_30', 'availability_60',
       'availability_90', 'availability_365'],
      dtype='object')

In [55]:
data['name'].isna().sum()

0

In [26]:
#handling the empty values and duplicate in name attribute
data['name'] = data.apply(lambda row: f"{row['property_type']}-{row['_id']}" if pd.isna(row['name']) or row['name'] == '' else row['name'], axis=1)

In [27]:
data['name'].isna().sum()

0

In [59]:
data['name'].duplicated().sum()

0

In [58]:
data.drop_duplicates(subset=['name'],inplace=True)

In [73]:
data['space'] = data.apply(lambda x: 'Not Specified' if x['space'] == '' else x['space'],axis=1)
data['summary'] = data.apply(lambda x: 'Not Specified' if x['summary'] == '' else x['summary'],axis=1)
data['description'] = data.apply(lambda x: 'Not Specified' if x['description'] == '' else x['description'],axis=1)
data['neighborhood_overview'] = data.apply(lambda x: 'Not Specified' if x['neighborhood_overview'] == '' else x['neighborhood_overview'],axis=1)
data['notes'] = data.apply(lambda x: 'Not Specified' if x['notes'] == '' else x['notes'],axis=1)
data['access'] = data.apply(lambda x: 'Not Specified' if x['access'] == '' else x['access'],axis=1)
data['house_rules'] = data.apply(lambda x: 'Not Specified' if x['house_rules'] == '' else x['house_rules'],axis=1)

In [87]:
print((data['space']=='').sum())
print((data['summary']=='').sum())
print((data['description']=='').sum())
print((data['neighborhood_overview']=='').sum())
print((data['notes']=='').sum())
print((data['access']=='').sum())
print((data['house_rules']=='').sum())

0
0
0
0
0
0
0
0

In [93]:
# to_csv file
#data.to_csv('airbnbData',index=False)